<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.p90puma.serialtoir"
	version 	= "1.0.0">

	<name>SerialToIR: Getting Started</name>

	<description>
		Serial To IR the Webapp
	</description>

	<author href="http://p90puma.github.com"
		email="puma1337@gmail.com">
		Sylvester Jakubowski
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="landscape" />
</widget>
